.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.error {
    color: red;
}

.input {
    height: 36px;
    width: 372px;
}

.input:focus {
}

.errorInput {
    height: 36px;
    width: 372px;
    border: 1px solid red;
}

.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    background: #06c;
}

.button:focus {
}

.button:active {

}

.button:disabled {
    background: #06c;
    opacity: 0.5;
}

.text {
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
}
